<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title></title>
  <style>
  html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  canvas {
    border: 1px solid white;
  }
  </style>
</head>
<body>
<canvas width="400" height="400" id="game"></canvas>
<script type="module" src="javascripts/game.js"></script>
<script type="module" src="javascripts/snake.js"></script>
<script type="module" src="javascripts/search.js"></script>
<script type="module" src="javascripts/helper.js"></script>
</body>
</html>